$grid {
	width: 900px;
	columns: 4;
	gutter: 20px;
}

body {
	background: color(black, 10);
	font-family: Arial;
	font-style: italic;
	font-size: 50em;
	opacity: 0.5;
	background: rgba(0, 0, 0, 0.5);
	border-top-left-radius: 3px;
	var-negro: #000;
	var-azul: blue;

	p :matches(a, ul, strong) span {
		color: color(red, 40);
		font-size: math((3+9)*4)em;
		transform: rotate(90deg);
		font-size: 1rem;
		background: var(azul, red);
	}
}

strong {
	background: linear-gradient(top, #444444, #666666);
}

strong ::selection {
	color: blue;
	$grid: cols(2);

	snippet: animate-bounce;
	background: linear-gradient(top, red, blue);
}