.wrapper {
	width: 960px;
	background: url(http://griddle.it/960-12-30) repeat-y;
	margin: 0 auto;
	overflow: auto;
}
$grid {
	width: 960px;
	columns: 12;
	gutter: 30px;
}

$variables {
	color: blue;
	menu: .content {
		text-align: left;
	}
}

.wrapper > div {
	box-sizing: border-box;
	border: solid 1px #333;
	background: $color;
}
.menu {
	$grid: cols(2) left(1);
}
.content {
	$grid: cols(6);
	padding: 20px;
}
.content p {
	$grid: cols(2) in-cols(6, -42px);
	background: rgba(0, 0, 0, 0.2);
}
.content p:last-child {
	margin-right: 0;
}
.aside {
	$grid: cols(3);
	margin-right: 0;
}
.footer {
	float: left;
	width: 100%;
}
.footer p {
	$grid: cols(1) columns(5) in-cols(5, -2px);
}
.footer p:last-child {
	margin-right: 0;
}
.bounce {
	animation: 1s ease;
	animation-name: bounce;
}