/*

#390
#339900
rgb(51, 153, 0)
hsl(100, 100%, 30%)

*/
body {
	font-size: 1.2em;
}
.wrapper {
	font-size: 2em;
	width: 960px;
	background: url(http://griddle.it/960-12-30) repeat-y;
	margin: 0 auto;
}
.wrapper div {
	font-size: 1rem;
}
$grid {
	width: 960px;
	columns: 12;
	gutter: 30px;
}

$variables {
	color: #369;
	menu: .content {
		text-align: left;
	}
}

.color {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: $color;
}

.l10 { background: color($color, light:10); }
.l20 { background: color($color, light:20); }
.l30 { background: color($color, light:30); }
.l40 { background: color($color, light:40); }
.l50 { background: color($color, light:50, alpha: 0.5); }
.l60 { background: color($color, light:60); }
.l70 { background: color($color, light:70); }
.l80 { background: color($color, light:80); }
.l90 { background: color($color, light:90); }


.s10 { background: color($color, blue:-10); }
.s20 { background: color($color, blue:-20); }
.s30 { background: color($color, blue:-30); }
.s40 { background: color($color, blue:-40); }
.s50 { background: color($color, blue:-50); }
.s60 { background: color($color, blue:-60); }
.s70 { background: color($color, blue:-70); }
.s80 { background: color($color, blue:-80); }
.s90 { background: color($color, blue:-90); }


.wrapper > div {
	box-sizing: border-box;
	border: solid 1px #333;
}
.menu {
	$grid: cols(2) left(1);
}
.content {
	$grid: cols(6);
	padding: 20px;
}
.content p {
	$grid: cols(2) in-cols(6, -42px);
	background: rgba(0, 0, 0, 0.2);
}
.content p:last-child {
	margin-right: 0;
}
.aside {
	$grid: cols(3);
	margin-right: 0;
}
.footer {
	float: left;
	width: 100%;
}
.footer:hover {
	$animate: flash;
}
.footer p {
	$grid: cols(1) columns(5) in-cols(5, -2px);
}
.footer p:last-child {
	margin-right: 0;
}